{% extends "main_menu.html" %}

{% block content %}
	<h1>Pick function!</h1>
	<style>
		.form_select {
			width: 37.5%;
			height: 30px;
			text-align: center;
			outline: none;
			margin: 10px;
		}
		#table {
		  font-family: Arial, Helvetica, sans-serif;
		  border-collapse: collapse;
		  width: 100%;
		}

		#table td, #table th {
		  border: 1px solid #ddd;
		  padding: 8px;
		}

		#table tr:nth-child(even){background-color: #f2f2f2;}

		#table tr:hover {background-color: #ddd;}

		#table th {
		  padding-top: 12px;
		  padding-bottom: 12px;
		  text-align: left;
		  background-color: grey;
		  color: white;
		}
	</style>
	<form action="" method="post">
		<p style="font-style: italic;">This calculator calculates the definite integral by the methods: rectangles, tratia, Simson. And displays the data in the form of a table</p>
		<select class="form_select" name="op">
			<option value="1">f(x) = 1/ln(x)</option>
	        <option value="2">f(x) = 4x + 3</option>
		</select>
		<p>
			<label for="A">A:</label>
		    <input type="number" name="A" placeholder="Input min length... " width="400px">
			<label for="B">B:</label>
		    <input type="number" name="B" placeholder="Input max length... " width="400px">
		<p>
		<p>			
			<label for="N">N:</label>
		    <input type="number" name="N" placeholder="Input number of steps... " width="400px">
		</p>
		<p>
		    <input type="submit" value="Calculate">
		</p>

	</form>
	{% if result %}
		<table id='table'>
			<caption style="font-style: italic;">The result table!</caption>
			<tr>
			    <th>Method: Left rectangle</th>
			    <th>Method: Rigth rectangle</th>
			    <th>Method: Central rectangle</th>
			    <th>Trapezium method</th>
			    <th>Simson method</th>
		   </tr>
		   <tr>
		   		{% for i in result %}
		   			<td>{{ i }}</td>
		   		{% endfor %}
		   </tr>
		</table>
	{% endif %}
{% endblock %}