{% extends "main_menu.html" %}

{% block content %}
	<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
	<h1>Method: Runge - Kuttas of the III order</h1>
	<style>
		.form_select {
			width: 37.5%;
			height: 30px;
			text-align: center;
			outline: none;
			margin: 10px;
		}
	</style>
	<form action="" method="post">
		<select class="form_select" name="op">
			<option value="1">y' = xˆ2 - 2y</option>
	        <option value="2">y' = x + y</option>
		</select>
		<p>
			<label for="A">A:</label>
		    <input type="number" name="A" placeholder="Input min length... " width="400px">
			<label for="B">B:</label>
		    <input type="number" name="B" placeholder="Input max length... " width="400px">
		<p>
		<p>	
			<label for="Y">Y:</label>
		    <input type="number" name="Y" placeholder="Input first y... " width="400px">	
			<label for="N">N:</label>
		    <input type="number" name="N" placeholder="Input number of steps... " width="400px">
		</p>
		<p>
		    <input type="submit" value="Calculate">
		</p>

	</form>
	{% if result %}
		<p>The result is {{ result }}</p>
		<center>
			<h1>{{ title }}</h1>

	    <canvas id="chart" width="600" height="400"></canvas>
	    <script>

	      // bar chart data
	      var barData = {
	        labels : [
	          {% for item in result[1] %}
	            "{{ item }}",
	          {% endfor %}
	        ],

	        datasets : [{
	          fillColor: "rgba(151,187,205,0.2)",
	          strokeColor: "rgba(151,187,205,1)",
	          pointColor: "rgba(151,187,205,1)",
	          pointStrokeColor: "#fff",
	          pointHighlightFill: "#fff",
	          pointHighlightStroke: "rgba(151,187,205,1)",
	          bezierCurve : false,
	          data : [
		    	{% for item in result[0] %}
	              	{{ item }},
	        	{% endfor %}
	          ]
	        }]} 

	      Chart.defaults.global.animationSteps = 50;
	      Chart.defaults.global.tooltipYPadding = 16;
	      Chart.defaults.global.tooltipCornerRadius = 0;
	      Chart.defaults.global.tooltipTitleFontStyle = "normal";
	      Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
	      Chart.defaults.global.animationEasing = "easeOutBounce";
	      Chart.defaults.global.responsive = false;
	      Chart.defaults.global.scaleLineColor = "black";
	      Chart.defaults.global.scaleFontSize = 16;

	      // get bar chart canvas
	      var mychart = document.getElementById("chart").getContext("2d");

	      steps = {{ h }}
	      max = {{ max }}
	      // draw bar chart
	      var LineChartDemo = new Chart(mychart).Line(barData, {
	        scaleOverride: true,
	        scaleSteps: steps,
	        scaleStepWidth: Math.ceil(max / steps),
	        scaleStartValue: 0,
	        scaleShowVerticalLines: true,
	        scaleShowGridLines : true,
	        barShowStroke : true,
	        scaleShowLabels: true,
	        bezierCurve: false,
	      });

	    </script>
		</center>
	{% endif %}
{% endblock %}